/* Estilos generales */
.carrito-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 50px;
  gap: 20px;
}

.carrito-derecha {
  width: 30%;
  max-width: 500px;
  background-color: var(--tercia);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 10px;
 
}
.carrito-izquierda{
  width: 100%;
  max-width: 800px;
  background-color: var(--tercia);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 10px;
}

.producto-carrito {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  gap: 20px;
  flex-wrap: nowrap; /* Asegura que los elementos no se envuelvan */
}

.imagen-container {
  flex: 0 0 120px; /* Mantén el tamaño fijo de la imagen */
}

.imagen-carrito {
  width: 100%; /* Ajusta al tamaño del contenedor */
  height: auto;
  border-radius: 5px;
}
.title-carrito{
  text-align: start;
  font-size: 20px !important;
  color: var(--primary);
}
.info {
  flex: 1; /* Ocupa todo el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.carrito-item-cantidad {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.cantidad {
  width: 60px; /* Tamaño del input */
  margin-left: 10px;
}

.acciones-producto {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.eliminar-item {
  background-color: var(--gold);
  color: var(--luz);
  border: none;
  padding: 10px 20px;
  border-radius: 0px 25px 25px 25px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-agregar-favoritos{
  background-color: var(--secondary);
  color: var(--luz);
  border: none;
  padding: 10px 20px;
  border-radius: 0px 25px 25px 25px;
  cursor: pointer;
  font-size: 1rem;
}

.eliminar-item:hover {
  background-color: var(--secondary);
}

#carrito-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.producto-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 15px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .carrito-page {
      flex-direction: column;
      margin-top: 90px;
  }

  .carrito-izquierda, .carrito-derecha {
      width: 100%;
      margin-bottom: 20px;
  }

  .producto-carrito {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .producto-carrito img {
      margin: 0 auto;
      margin-bottom: 15px;
      max-width: 150px;
  }

  .carrito-item-cantidad {
      justify-content: center;
  }
}
