.favoritos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 80%;
  margin: 150px auto;
}

#favoritos-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.favoritos-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  max-width: 700px;
  background-color: var(--tercia);
  border-radius: 10px;
}

.favoritos-item img {
  width: 100px;
  height: auto;
}

.favoritos-item .info {
  flex-grow: 1;
}

.favoritos-item h2 {
  font-size: 20px;
}

.btn-eliminar {
  background-color: #ff5252;
}

.btn-carrito {
  background-color: #4CAF50;
}

.rating {
  color: var(--gold);
  font-size: 22px;
  margin: 5px 0;
}
