/* Estilos generales */
:root {
  --background: #f0f0f0;
  --primary: #14407F; /* Color primario */
  --secondary: #333; /* Color secundario */
  --promo: #FF5733; /* Color de promoción */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
}

h1{
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color: var(--secondary);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:var(--primary);;
}

.logo{
  margin-left: 10%;
}

.logo img {
  width: 100px;
}

.navbar{
  margin-right: 10%;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color:var(--primary);;
    border-radius: 5px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
   position: relative;
   margin: auto;
 }
 
 /* Hide the images by default */
 .mySlides {
   display: none;
 }
 
 /* Next & previous buttons */
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
 
 /* Position the "next button" to the right */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }
 
 /* Caption text */
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }

 
 /* Fading animation */
 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }
 
 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 /* Galeria */
 .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 0 5%;
}



 /* Card */
 .card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.contenido {
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  padding: 16px;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 1.2rem;
  margin: 5px 0;
  padding-top: 10px;
  color: var(--secondary);
}

.old-price {
  font-size: 0.875rem;
  color: var(--secondary);
  text-decoration: line-through;
  margin: 8px 0;
}

.new-price {
  margin: 8px 0;
}

.price-button {
  background-color:var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0px 25px 25px 25px;
  cursor: pointer;
  font-size: 1rem;

}
.price-wrapper {
display: flex;
justify-content: center;
align-items: center;
margin: 8px 0;
}


.discount-label {
font-size: 0.7em;
color:var(--primary);;
margin: 10px;
}
.installments {
  font-size: 0.875rem;
  color: #555;
  margin-top: 8px;
}

.rating {
  margin-top: 0px;
}

.rating span {
  font-size: 20px;
  color: gold;
  margin-right: 2px;
}

/* Imagenes */

.img-promo1{
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.img-promo2{
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
 position: relative;
 margin: auto;
}

/* Footer */
footer {
    background-color:var(--secondary);;
    color: white;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo{
  margin-left: 10%;
}
.footer-logo img {
    width: 100px;
}

.footer-contacto{
  margin-right: 10%;
}
.footer-categorias h3,
.footer-contacto h3 {
    margin-bottom: 10px;
}

.footer-categorias ul {
    list-style: none;
    padding: 0;
}

.footer-categorias ul li a {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.footer-contacto form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contacto input,
.footer-contacto textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.footer-contacto button {
    background-color: #14407F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-contacto button:hover {
    background-color: #0F3460;
}
