/* General Reset */

:root {
  --luz: #fff;
  --primary: #181818;
  --secondary: #333;
  --tercia: #F2F2F2;
  --alerta: #D32F2F;
  --gold: #86BBCE;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--gold);
}

/* Header */
header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.navlinks {
  display: flex;
  align-items: center;
  list-style: none;
}

.navlinks li {
  margin: 10px 15px;
}

.navlinks li a, .navlinks button {
  color: var(--luz);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease;
}

.navlinks li a:hover, .navlinks button:hover {
  color: var(--gold);

}

/* Buscador */
.search-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.search-container input {
  padding: 9px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
}
.search-container button {
  padding: 9px;
  background-color: var(--gold);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* Íconos */
.icons a {
  font-size: 20px;
  color: var(--luz);
}
.icons a:hover {
  color: var(--gold);
}

/* Sidebar (Menú para dispositivos móviles) */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: var(--primary);
  display: none;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.sidebar li {
  margin: 25px;
  text-shadow: 1px 1px 5px black;
}

.sidebar li a{
  color: var(--luz);
  text-decoration: none;
}

.sidebar img {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 120px;
}

nav ion-icon {
  font-size: 2em;
  color: var(--luz);
}

/* Media Queries */
@media (min-width: 830px) {
  .navlinks ion-icon {
      display: none;
  }
}
@media (max-width: 830px) {
  .navlinks .items, .search-container, .icons {
      display: none;
  }
  .sidebar {
      display: flex;
  }
}
