/* Estilos generales */
:root {
  --luz: #fff;
  --primary: #181818;
  --secondary: #333;
  --tercia: #F2F2F2;
  --alerta: #D32F2F;
  --gold: #86BBCE;
}

*{  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: var(--luz);
}

/* Textos y botones */
h1 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color: var(--primary);
}

h2{ 
  font-size: 30px !important;
  font-weight: 600;
}

p{
  font-size: 16px !important;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--luz);
}

a:hover {
  color: var(--gold) !important;
}

.primario{
  color: var(--primary) !important;
}
.bg-primario{
  background-color: var(--primary) !important;
}

.golde{
  color: var(--gold) !important;
}

.bg-golde{
  background-color: var(--gold) !important;
}

/* Header */
header {  
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: var(--primary);
  z-index: 100;
}

.logo {
  margin-left: 10%;
}


.logo img {
  height: 90px;
}

.navbar {
  margin-right: 10%;
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: white;
  padding: 10px;
  transition: background-color 0.3s;
}

.navbar ul li a:hover {
  background-color: var(--primary);
  border-radius: 5px;
}

/* Estilos para el buscador */
.search-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.search-container input {
  padding: 9px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px;
}

.search-container button {
  padding: 9px;
  border: none;
  background-color: var(--tercia); /* Cambia según tu color secundario */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}


/* Estilos para los íconos */


.icons li a {
  font-size: 24px; /* Ajusta el tamaño del ícono */
}

/* ------------------------------------------------------------------------------------- */

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
  margin: 100px 0 0 0;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--gold);
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: var(--tercia);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* Estilos para la sección con la imagen de fondo */
.section-bg {
  position: relative;
  background-image: url('../img/imagen1.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Hace que la imagen cubra todo el ancho de la sección */
  background-position: center;
  width: 100%;
  height: 80%; /* Ajusta la altura de la sección */
  display: flex;
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* Centrar el contenido verticalmente */
}

/* Estilos para el article que contiene el texto */
.content-overlay {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente (opacidad 60%) */
  padding: 40px 40px;
  margin: 50px;
  border-radius: 10px; /* Esquinas redondeadas */
  text-align: center; /* Centrar el texto */
  max-width: 60%; /* Limita el ancho máximo del contenedor de texto */
  color: white; /* Color de texto en blanco */
}

/* Estilos para el h2 */
.content-overlay h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Estilos para el párrafo */
.content-overlay p {
  font-size: 18px;
  line-height: 1.5;
}


/* Galeria */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 0 10% 0 10%;
}



/* Card */
.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.contenido {
  width: 100%;
  height: 100%;
  background-color:var(--tercia);
  padding: 16px;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 1.2rem !important;
  margin: 5px 0;
  padding-top: 10px;
  color: var(--secondary);
}

.old-price {
  font-size: 0.875rem !important;
  color: var(--secondary);
  text-decoration: line-through;
  margin: 8px 0;
}

.new-price {
  margin: 8px 0;
}

.price-button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0px 25px 25px 25px;
  cursor: pointer;
  font-size: 1rem;

}

.price-button:hover{
  background-color: var(--secondary);
}
.price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}


.discount-label {
  font-size: 0.7em !important;
  color: var(--primary);
  margin: 10px;
}

.installments {
  font-size: 0.875rem !important;
  color: var(--secondary);
  margin-top: 8px;
}

.rating {
  margin-top: 0px;
}

.rating span {
  font-size: 20px !important;
  color: var(--gold);
  margin-right: 2px;
}

/* Imagenes */

.img-promo1 {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}


/* Video */
/* Sección de video en ancho completo */
.fullwidth-video-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  overflow: hidden; /* Oculta cualquier parte que sobresalga */
}

/* Video en pantalla completa */
.fullwidth-video-section video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Mantiene la proporción del video y lo adapta al contenedor */
}

.product-detail {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
@media (max-width: 640px) {
  .product-detail {
    width: 100%;
  }
}

/* Estilos para el contenedor del newsletter */
.newsletter {
  text-align: center;
  padding: 1%;
  background-color: var(--gold);
}

.newsletter h2 {
  font-size: 24px;
  color: var(--primary);
}

.newsletter p {
  font-size: 16px;
  color: var(--secondary);
  margin-bottom: 15px;
}

/* Estilos para el formulario */
.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.newsletter input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif !important;
}

.newsletter button {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Montserrat", sans-serif !important;
}

.newsletter button:hover {
  background-color: var(--secondary); /* Cambia a un color secundario o deseado */
}


/* Footer */
footer {
  background-color: var(--primary);
  color: var(--luz);
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  margin-left: 10%;
}

.footer-logo img {
  width: 200px;
}

.footer-contacto {
  margin-right: 10%;
}

.footer-categorias h3,
.footer-contacto h3 {
  margin-bottom: 10px;
}

.footer-categorias ul {
  list-style: none;
  padding: 0;
}

.footer-categorias ul li a {
  color: var(--luz);
  display: block;
  margin-bottom: 5px;
}

.footer-contacto form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-contacto input,
.footer-contacto textarea {
  width: 300px;
  font-family: "Montserrat", sans-serif !important;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.footer-contacto button {
  font-family: "Montserrat", sans-serif !important;
  background-color: var(--secondary);
  color: var(--luz);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-contacto button:hover {
  background-color: var(--gold);
  color: var(--primary);
}